{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Pinclone Main Page{% endblock %}

{% block extrascripts %}
<script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
<script>
$('document').ready(function() {
    var $container = $('#pin-list-head');
    $container.masonry({
        itemSelector: '.pin'
    });
});
</script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>$.endlessPaginate({paginateOnScroll: true});</script>

<style type="text/css">
.pin {
    float: left;
    list-style-type: none;
    width: 200px;
    border: 1px solid #ccc;
    box-shadow: 0px 5px 5px 2px #ccc;
    margin: 10px;
    padding: 5px;
}
.pin:hover {
    border: 1px solid black;
}
.pin-image {
    width:190px;
    text-align: center;
}
.user {
    font-weight: bold;
}
.board-name {
    color: #ccc;
}
</style>
{% endblock %}

{% block content %}
<h1 id="pin-top">Latest Pins</h1>
{% if pins %}
<ul id="pin-list-head">
    {% include page_template %}
</ul>
{% else %}
<p>No pins have been uploaded. Sorry.</p>
{% endif %}
{% endblock %}
